body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f9f9f9;
  color: #333;
}

header {
  background-color: #7b7896;
  color: white;
  padding: 20px;
  text-align: center;
}

header nav a {
  color: #ffd166;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 80%;
  object-fit: cover;
  margin-bottom: 10px;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.skills-list li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.skills-list img {
  width: 32px;
  height: 32px;
}

section {
  padding: 20px;
}

h2 {
  color: #005f73;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #e0e0e0;
}


.container {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

